.footer {
  color: rgb(218, 120, 0);
  height: 8rem;
  font-size: 2rem;
  text-align: center;
  background-color: rgb(255, 245, 190);
  align-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}
