.form {
  display: flex;
  /*background-color: aquamarine;*/
  width: 50rem;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 0 auto;
  margin-top: 5rem;
}
.button {
  color: white;
  background-color: rgb(255, 162, 0);
  height: 3.5rem;
  border: none;
  border-radius: 1rem;
  width: 8rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.input {
  width: 100%;
  height: 3.5rem;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  padding: 0.5rem;
  padding-left: 1rem;
}

.input:focus {
  outline: none;
}
.input::placeholder {
  color: #bbb;
  outline: none;
}
